.previewHolder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 10px;
	justify-content: space-between;
	align-items: stretch;
}

.cardHolder {
	margin-top: 10px;
	background-color: var(--col-bg2);
	border-radius: var(--corner-radius);
	padding: 20px;
	width: 15dvw;
	min-width: max-content;
}

.cardLastPrice {
	display: flex;
	flex-direction: row;
	align-items: end;
}

.cardLastPrice > span {
	margin-left: 5px;
	margin-bottom: 5px;
}
