.previewHolder {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 10px;
	margin: 10px 0 10px 0;
}

.cardHolder {
	background-color: var(--col-bg2);
	border-radius: var(--corner-radius);
	padding: 10px 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 0;
}

.cardSubText {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.cardLastPrice {
	display: flex;
	flex-direction: row;
	align-items: end;
}

.cardLastPrice > span {
	margin-left: 5px;
	margin-bottom: 5px;
}
