@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

:root {
  /* ================ COLORS ================ */
  --col-bg1: #101319;
  --col-bg2: #1d2026;
  --col-bg3: #272a31;

  --col-tex1: #e1e2eb;
  --col-tex2: #bacbb9;

  --col-primary1: #75ff9e;
  --col-primary1-rgb: 117, 255, 158;
  --col-primary2: #34d399;
  --col-primary3: #003918;

  --col-neutral1: #ffdf9e;

  --col-negative1: #ffb4ab;

  --col-info: #94a3b8;

  /* ================ FONTS SIZES ================ */
  --font-size-tiny: 1rem;
  --font-size-small: 1.5rem;
  --font-size-medium: 2.1rem;
  --font-size-large: 3rem;

  /* ================ FONTS WEIGHTS ================ */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* ================ CORNERS ================ */
  --corner-radius: 8px;

  /* ================ TRASITIONS ================ */
  --transtion-default:
    opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease,
    color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease,
    box-shadow 0.2s ease, font-weight 0.2s ease, text-decoration-line 0.2s ease;
  --transition-speed-fast: 0.1s;
  --transition-speed-medium: 0.2s;
}

@media only screen and (max-width: 600px) {
  :root {
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
  }
}

/* ================= TEST PRESETS ================= */
.text-style1 {
  font-family: "Manrope", sans-serif;
  font-weight: var(--font-weight-extrabold);
  color: var(--col-tex1);
}

.text-style2 {
  font-family: "Manrope", sans-serif;
  font-weight: var(--font-weight-bold);
  color: var(--col-tex1);
}

.text-style3 {
  font-family: "Manrope", sans-serif;
  font-weight: var(--font-weight-regular);
  color: var(--col-tex1);
}

.text-style4 {
  font-family: "Inter", sans-serif;
  font-weight: var(--font-weight-regular);
  color: var(--col-tex2);
}

.text-size1 {
  font-size: var(--font-size-large);
}

.text-size2 {
  font-size: var(--font-size-medium);
}

.text-size3 {
  font-size: var(--font-size-small);
}

.text-size4 {
  font-size: var(--font-size-tiny);
}

/* ======================================================================== */
/*! STYLES BEGIN */
/* ======================================================================== */

body {
  margin: 0;
  padding: 0;

  background-color: var(--col-bg1);

  font-optical-sizing: auto;
  font-style: normal;
}

/* ======================================================================== */
/*! APP */
/* ======================================================================== */

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

.navbar-holder {
  width: 100dvw;
  height: 80px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.content-holder {
  flex: 1;
  margin-left: 15dvw;
  margin-right: 15dvw;
  align-items: stretch;
}

/* ======================================================================== */
/*! COMMON */
/* ======================================================================== */
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
